ul.autocomplete-list {
    z-index: 9999;
}

ul.autocomplete-list li {
    cursor: pointer;
}

ul.autocomplete-selection li {
    cursor: pointer;
}

ul.autocomplete-selection {
    list-style-type: none;
    padding: 0px;
}

ul.autocomplete-selection li {
    background-color: #428BCA;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}

ul.autocomplete-list {
    list-style-type: none;
    background-color: #ffffff;
    box-shadow: 0 0 2px #428BCA;
    padding: 0px;
    position: absolute;
}

ul.autocomplete-list li {
    padding: 5px 15px 5px 15px;
}

ul.autocomplete-list li.autocomplete-list-selected {
    color: #ffffff;
    background-color: #428BCA;
}

