/**
 * Table configuration
 */

table.hierarchy-table
{
    margin-bottom: 10px;
}

/**
 * Header configuration
 */

table.hierarchy-table thead tr
{
    border-top: 0px none;
    border-bottom: 2px solid #dddddd;
    background-color: #ffffff;
    font-weight: bold;
}

table.hierarchy-table thead tr th
{
    position: relative;
    padding: 8px;
    line-height: 1.42857;
}

table.hierarchy-table thead a
{
    position: relative;
    display: inline-block;
    padding-right: 25px;
}

/* glyphicon for ordering */
table.hierarchy-table thead a:after
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    
    width: 20px;
    content: ' ';
}
/* glyphicon for ascending ordering */
table.hierarchy-table thead a.hierarchy-asc:after
{
    content: "\e113";
}
/* glyphicon for descending ordering */
table.hierarchy-table thead a.hierarchy-desc:after
{
    content:"\e114";
}

/* figures at the bottom of ordering simple (ordering of orderings) */
table.hierarchy-table thead tr th .hierarchy-order
{
    display: inline-block;
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 0.6em;
}

/**
 * Content configuration
 */

table.hierarchy-table tbody tr
{
    background-color: #ffffff;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

table.hierarchy-table tbody tr:hover
{
    background-color: #f0f0f0;
}

table.hierarchy-table tbody tr td
{
    padding: 0 8px 0 8px;
    line-height: 1.42857;
}

table.hierarchy-table tbody tr td.aggregated
{
    font-weight: bold;
}

table.hierarchy-table tbody tr td:first-child
{
    border-right: 2px solid #f0f0f0;
}

table.hierarchy-table tbody tr td:not(:first-child)
{
    border-left: 1px dotted #f0f0f0;
}

/* expand/collapse icon */
table.hierarchy-table tbody tr td span.collapsed,
table.hierarchy-table tbody tr td span.expanded
{
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 5px;
    cursor: pointer;
}
table.hierarchy-table tbody tr td span.collapsed { background-image: url('../img/collapsed-off.png'); }
table.hierarchy-table tbody tr td span.collapsed:hover { background-image: url('../img/collapsed-on.png'); }
table.hierarchy-table tbody tr td span.expanded { background-image: url('../img/expanded-off.png'); }
table.hierarchy-table tbody tr td span.expanded:hover { background-image: url('../img/expanded-on.png'); }

/**
 * Contextual menu
 */

ul.hierarchytable-contextmenu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

.hierarchytable-contextmenu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    }

.hierarchytable-contextmenu li:hover {
    background-color: #DEF;
}

