table.sorted-table,
.sorted-table,
.nonsorted-table
{
    margin-bottom: 10px;
}

table.sorted-table td,
.sorted-table .row,
.nonsorted-table .row
{
    padding: 8px;
    line-height: 1.42857;
    border-top: 1px solid #dddddd;
    background-color: #ffffff;
}

table.sorted-table td:nth-child(2n+1),
.sorted-table .row:nth-child(2n+1),
.nonsorted-table .row:nth-child(2n+1)
{
    background-color: #f9f9f9;
}

table.sorted-table th,
.sorted-table .sorted-table-header .row,
.nonsorted-table .nonsorted-table-header .row
{
    border-top: 0px none;
    border-bottom: 2px solid #dddddd;
    background-color: #ffffff;
    font-weight: bold;
}

table.sorted-table thead a,
.sorted-table .sorted-table-header a,
.nonsorted-table .nonsorted-table-header a
{
    position: relative;
    display: inline-block;
    padding-right: 25px;
}

table.sorted-table thead a:after,
.sorted-table .sorted-table-header a:after,
.nonsorted-table .nonsorted-table-header a:after
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    
    width: 20px;
    content: ' ';
}

table.sorted-table thead a[data-sortedtable-order='asc']:after,
.sorted-table .sorted-table-header a[data-sortedtable-order='asc']:after,
.nonsorted-table .nonsorted-table-header a[data-sortedtable-order='asc']:after
{
    content: "\e113";
}

table.sorted-table thead a[data-sortedtable-order='desc']:after,
.sorted-table .sorted-table-header a[data-sortedtable-order='desc']:after,
.nonsorted-table .nonsorted-table-header a[data-sortedtable-order='desc']:after
{
    content:"\e114";
}

table.sorted-table.sorted-table-hide-id td:first-child,
table.sorted-table.sorted-table-hide-id th:first-child,
.sorted-table.sorted-table-hide-id .row > div:first-child
{
    display: none;
}

